@use 'widths' as *;

#app {
  margin: auto;
  width: 75%;
  @media only screen and (max-width: $first-max-width) {
    width: 100%;
  }
}

@media only screen and (max-width: $second-max-width) {
  #tomorrowMovements {
    margin-top: 5em;
  }
}

.loader {
  // TY https://stackoverflow.com/a/23703655/6396652
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
